.pointer__target_html {
    box-shadow: 0 0 0 4px red !important;
}

.pointer-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999999;
    cursor: crosshair !important;
}

.pointer-container_visible {
    display: block;
}

.coords-container {
    position: absolute;
    background: var(--pointer-background-color);
    padding: 6px 12px;
    border: 2px solid var(--pointer-font-color-title);
    border-radius: 5px;
    color: var(--pointer-font-color-title);
    box-shadow: 4px 4px 15px rgba(0, 0, 0, .2);
    pointer-events: none;
}